<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783373530427-df80d4iobikvske09da0vm5quibnede1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783373530427-df80d4iobikvske09da0vm5quibnede1</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ7gfMw_aWWACaKz04_S6S1HJMB3pbTeY</string>
	<key>GCM_SENDER_ID</key>
	<string>783373530427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisoft.base.sagatoolkit</string>
	<key>PROJECT_ID</key>
	<string>base-saga-toolkit</string>
	<key>STORAGE_BUCKET</key>
	<string>base-saga-toolkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783373530427:ios:a907031ebf47f965be331e</string>
</dict>
</plist>