<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460694115124-n3oqtlftm5flvtlqthr0528v233avt5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460694115124-n3oqtlftm5flvtlqthr0528v233avt5f</string>
	<key>API_KEY</key>
	<string>AIzaSyCfGl7xtRWRjhgYhqZ_HcuS6vRInhjF1io</string>
	<key>GCM_SENDER_ID</key>
	<string>460694115124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisoft.shadowgate.wallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-shadowgate</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-shadowgate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460694115124:ios:ab0f0aa87f1954aed90b61</string>
</dict>
</plist>